replicaCount: 1

image:
  repository: deepakchandmarthala/devops-challenge
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE
resources:
  limits:
    memory: "256Mi"
  requests:
    memory: "128Mi"